<!DOCTYPE html>
<%- include('header') %>
<html>
  <head>
    <title>Informaci칩n Externa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="my-4">Informaci칩n Externa</h1>
      <% if (data.appnews && data.appnews.newsitems && data.appnews.newsitems.newsitem) { %> <%
      data.appnews.newsitems.newsitem.forEach(function(newsItem) { %>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= newsItem.title %></h5>
          <p class="card-text"><%= newsItem.contents %></p>
          <p class="card-text">Autor: <%= newsItem.author %></p>
          <p class="card-text">Fecha: <%= new Date(newsItem.date * 1000).toLocaleString() %></p>
          <% if (newsItem.url) { %>
          <a href="<%= newsItem.url %>" target="_blank" class="btn btn-primary">Ver m치s</a>
          <% } %>
        </div>
      </div>
      <% }); %> <% } else { %>
      <p>No se encontraron noticias.</p>
      <% } %>
      <a href="/informacion-externa-xml?offset=<%= offset + 86400 %>" class="btn btn-primary">Cargar m치s noticias</a>
    </div>
  </body>
</html>
