<!DOCTYPE html>
<html>
  <head>
    <title>Listado de Juegos</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .game-image {
        max-width: 200px;
        max-height: 120px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="my-4">Listado de Juegos</h1>
      <div class="row">
        <% results.forEach(function(juego) { %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img
              src="<%= juego.header_image %>"
              class="card-img-top game-image"
              alt="<%= juego.name %>"
            />
            <div class="card-body">
              <h5 class="card-title"><%= juego.name %></h5>
              <p class="card-text"><%= juego.short_description %></p>
              <p class="card-text">Precio: $<%= juego.price %></p>
              <p class="card-text">Fecha de Lanzamiento: <%= juego.release_date %></p>
              <p class="card-text">
                Categorías:
                <% juego.categories.forEach(function(category) { %>
                <span class="badge badge-primary"><%= category %></span>
                <% }); %>
              </p>
              <p class="card-text">
                Géneros:
                <% juego.genres.forEach(function(genre) { %>
                <span class="badge badge-secondary"><%= genre %></span>
                <% }); %>
              </p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <% if (next) { %>
      <div class="mt-4">
        <% if (prev) { %>
        <a href="?prev=<%= prev %>" class="btn btn-secondary mr-2">Anterior</a>
        <% } %>
        <% if (next) { %>
        <a href="?next=<%= next %>" class="btn btn-primary">Siguiente</a>
        <% } %>
      </div>
      <% } %>
    </div>
  </body>
</html>
