<!DOCTYPE html>
<html>
  <head>
    <title>Listado de Juegos</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="my-4 text-center">Listado de Juegos</h1>
      
      <!-- Formulario de búsqueda -->
      <form class="form-inline justify-content-center my-4" method="GET" action="<%= process.env.BASE_URI %>/juegos/">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Buscar por título"
          aria-label="Buscar"
          name="search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
      
      <div class="row">
        <% results.forEach(function(juego, index) { %>
          <div class="col-md-4 mb-4">
            <div class="card w-100">
              <a href="<%= process.env.BASE_URI %>/juego/<%= juego._id %>">
                <img
                  src="<%= juego.header_image %>"
                  class="card-img-top game-image"
                  alt="<%= juego.name %>"
                />
              </a>
              <div class="card-body">
                <h5 class="card-title"><a href="<%= process.env.BASE_URI %>/info_juego/<%= juego._id %>"><%= juego.name %></a></h5>
                <p class="card-text"><%= juego.short_description %></p>
                <p class="card-text"><strong>Precio:</strong> $<%= juego.price %></p>
                <p class="card-text"><strong>Fecha de Lanzamiento:</strong> <%= juego.release_date %></p>
                <p class="card-text">
                  <strong>Categorías:</strong>
                  <% juego.categories.forEach(function(category) { %>
                    <span class="badge badge-primary"><%= category %></span>
                  <% }); %>
                </p>
                <p class="card-text">
                  <strong>Géneros:</strong>
                  <% juego.genres.forEach(function(genre) { %>
                    <span class="badge badge-secondary"><%= genre %></span>
                  <% }); %>
                </p>
              </div>
            </div>
          </div>
          <% if ((index + 1) % 3 === 0 && index !== results.length - 1) { %>
            </div>
            <div class="row">
          <% } %>
        <% }); %>
      </div>
      <% if (next || prev) { %>
        <div class="mt-4 text-center">
          <% if (prev) { %>
            <a href="?prev=<%= prev %>" class="btn btn-secondary mr-2">Anterior</a>
          <% } %>
          <% if (next) { %>
            <a href="?next=<%= next %>" class="btn btn-primary">Siguiente</a>
          <% } %>
        </div>
      <% } %>
    </div>
  </body>
</html>
